.additionally {
  width: 320px;
  margin: 0 auto;
}

.additionally__title {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additionally__list {
  padding: 0;
}

.additionally__present {
  color: red;
  font-family: $Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additionally {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    width: 1440px;
  }

  .additionally__wrap-desktop {
    display: flex;
    justify-content: space-between;
  }

  .additionally__present {
    width: 245px;
    height: 289px;
  }
}
