.contact__label {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
}

.contact__input {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin-left: 16px;
}

.contact__item {
  display: flex;
}

@media (min-width: $desktop-width) {
  .contact__item {
    width: 570px;
    margin-right: 78px;
  }
}
