.depiction__text {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.depiction__field,
.depiction__value {
  color: #444444;
  font-family: $Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
