.profile {
  width: 320px;
  margin: 0 auto;
}

.profile__title-section {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.profile__write {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__wrap,
.profile__radio,
.profile_about,
.profile__checkbox {
  list-style-type: none;
  padding: 0;
}

.profile__contact {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.profile__wrap-submit,
.profile__wrap-necessarily {
  display: flex;
  justify-content: center;
}

.profile__submit {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;

  &--green::before {
    width: 280px;
    height: 40px;
    background-color: #68b738;
    content: "";
    position: absolute;
    top: -6px;
    left: -66px;
    z-index: -1;
  }
}

.profile__text {
  color: #444444;
  font-family: $Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .profile {
    width: 768px;
  }

  .profile__wrap-tablet {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    width: 1440px;
  }

  .profile__write {
    width: 322px;
  }

  .profile__wrap-desktop {
    display: flex;
  }

  .profile__wrap {
    width: 570px;
    margin-right: 108px;
  }

  .profile__about {
    display: flex;
  }
}
